@charset "UTF-8";
a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
  margin: 0;
  padding: 0;
  font-style: normal; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

li,
ul {
  list-style: none; }

a {
  text-decoration: none; }

b,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

html,
body {
  width: 100%; }

html {
  height: 100%; }

body {
  font-size: 12px;
  -webkit-font-smoothing: antialiased; }
  [data-dpr="2"] body {
    font-size: 24px; }
  [data-dpr="2.5"] body {
    font-size: 30px; }
  [data-dpr="2.75"] body {
    font-size: 33px; }
  [data-dpr="3"] body {
    font-size: 36px; }
  [data-dpr="4"] body {
    font-size: 48px; }

/*主页面*/
img {
  width: 100%;
  display: block; }

.fl {
  float: left; }

.fr {
  float: right; }

.topTitle {
  position: fixed;
  padding-left: 10px;
  padding-right: 10px;
  height: 1.09375rem;
  line-height: 1.09375rem;
  color: #777777;
  background-color: #fff;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100000; }
  [data-dpr="2"] .topTitle {
    padding-left: 20px; }
  [data-dpr="2.5"] .topTitle {
    padding-left: 25px; }
  [data-dpr="2.75"] .topTitle {
    padding-left: 27.5px; }
  [data-dpr="3"] .topTitle {
    padding-left: 30px; }
  [data-dpr="4"] .topTitle {
    padding-left: 40px; }
  [data-dpr="2"] .topTitle {
    padding-right: 20px; }
  [data-dpr="2.5"] .topTitle {
    padding-right: 25px; }
  [data-dpr="2.75"] .topTitle {
    padding-right: 27.5px; }
  [data-dpr="3"] .topTitle {
    padding-right: 30px; }
  [data-dpr="4"] .topTitle {
    padding-right: 40px; }
  .topTitle ul {
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-around; }
    .topTitle ul li {
      display: inline-block; }
    .topTitle ul a {
      color: black;
      padding-bottom: 3px;
      font-size: 14px;
      color: #777; }
      [data-dpr="2"] .topTitle ul a {
        font-size: 28px; }
      [data-dpr="2.5"] .topTitle ul a {
        font-size: 35px; }
      [data-dpr="2.75"] .topTitle ul a {
        font-size: 38.5px; }
      [data-dpr="3"] .topTitle ul a {
        font-size: 42px; }
      [data-dpr="4"] .topTitle ul a {
        font-size: 56px; }
      .topTitle ul a.cur {
        font-size: 15px;
        font-weight: 700;
        color: #2f2f2f;
        border-bottom: 10px #C90C22 solid;
        border-width: 5px; }
        [data-dpr="2"] .topTitle ul a.cur {
          font-size: 30px; }
        [data-dpr="2.5"] .topTitle ul a.cur {
          font-size: 37.5px; }
        [data-dpr="2.75"] .topTitle ul a.cur {
          font-size: 41.25px; }
        [data-dpr="3"] .topTitle ul a.cur {
          font-size: 45px; }
        [data-dpr="4"] .topTitle ul a.cur {
          font-size: 60px; }
        [data-dpr="2"] .topTitle ul a.cur {
          border-width: 10px; }
        [data-dpr="2.5"] .topTitle ul a.cur {
          border-width: 12.5px; }
        [data-dpr="2.75"] .topTitle ul a.cur {
          border-width: 13.75px; }
        [data-dpr="3"] .topTitle ul a.cur {
          border-width: 15px; }
        [data-dpr="4"] .topTitle ul a.cur {
          border-width: 20px; }

.hotCarsTop {
  width: 100%;
  margin-top: 1.09375rem; }

.carInfoCard {
  position: relative; }
  .carInfoCard .carTag {
    position: absolute; }
  .carInfoCard .carInfo .car_information {
    color: #555; }
    .carInfoCard .carInfo .car_information .car_title {
      font-weight: bold;
      font-size: 14px;
      line-height: 14px; }
      [data-dpr="2"] .carInfoCard .carInfo .car_information .car_title {
        font-size: 28px; }
      [data-dpr="2.5"] .carInfoCard .carInfo .car_information .car_title {
        font-size: 35px; }
      [data-dpr="2.75"] .carInfoCard .carInfo .car_information .car_title {
        font-size: 38.5px; }
      [data-dpr="3"] .carInfoCard .carInfo .car_information .car_title {
        font-size: 42px; }
      [data-dpr="4"] .carInfoCard .carInfo .car_information .car_title {
        font-size: 56px; }
      [data-dpr="2"] .carInfoCard .carInfo .car_information .car_title {
        line-height: 28px; }
      [data-dpr="2.5"] .carInfoCard .carInfo .car_information .car_title {
        line-height: 35px; }
      [data-dpr="2.75"] .carInfoCard .carInfo .car_information .car_title {
        line-height: 38.5px; }
      [data-dpr="3"] .carInfoCard .carInfo .car_information .car_title {
        line-height: 42px; }
      [data-dpr="4"] .carInfoCard .carInfo .car_information .car_title {
        line-height: 56px; }
      .carInfoCard .carInfo .car_information .car_title.title_margin {
        margin-bottom: 0.125rem;
        margin-top: 0.46875rem; }
    .carInfoCard .carInfo .car_information .car_market_price {
      font-weight: normal;
      font-size: 10px;
      /*价格加横线*/
      text-decoration: line-through; }
      [data-dpr="2"] .carInfoCard .carInfo .car_information .car_market_price {
        font-size: 20px; }
      [data-dpr="2.5"] .carInfoCard .carInfo .car_information .car_market_price {
        font-size: 25px; }
      [data-dpr="2.75"] .carInfoCard .carInfo .car_information .car_market_price {
        font-size: 27.5px; }
      [data-dpr="3"] .carInfoCard .carInfo .car_information .car_market_price {
        font-size: 30px; }
      [data-dpr="4"] .carInfoCard .carInfo .car_information .car_market_price {
        font-size: 40px; }
    .carInfoCard .carInfo .car_information .car_off {
      display: table;
      width: 100%;
      margin: 2px 0; }
    .carInfoCard .carInfo .car_information .car_off_info {
      display: table-row;
      width: 100%; }
      .carInfoCard .carInfo .car_information .car_off_info > div {
        display: table-cell;
        width: 50%;
        vertical-align: middle; }
        .carInfoCard .carInfo .car_information .car_off_info > div:last-child {
          text-align: right; }
        .carInfoCard .carInfo .car_information .car_off_info > div:first-child {
          text-align: left; }
        .carInfoCard .carInfo .car_information .car_off_info > div .tag_type_1 i.tag {
          vertical-align: 3px; }
        .carInfoCard .carInfo .car_information .car_off_info > div .tag_type_2 i.tag {
          vertical-align: 2px; }

.hotIcon {
  position: absolute;
  text-align: center;
  color: #FFFFFF;
  width: 0.90625rem;
  height: 0.95313rem;
  padding-top: 0.09375rem;
  padding-bottom: 0.09375rem;
  background-image: url(../images/rexiao@2x.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain; }
  .hotIcon p.tag_name {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700; }
    [data-dpr="2"] .hotIcon p.tag_name {
      font-size: 28px; }
    [data-dpr="2.5"] .hotIcon p.tag_name {
      font-size: 35px; }
    [data-dpr="2.75"] .hotIcon p.tag_name {
      font-size: 38.5px; }
    [data-dpr="3"] .hotIcon p.tag_name {
      font-size: 42px; }
    [data-dpr="4"] .hotIcon p.tag_name {
      font-size: 56px; }
    [data-dpr="2"] .hotIcon p.tag_name {
      line-height: 32px; }
    [data-dpr="2.5"] .hotIcon p.tag_name {
      line-height: 40px; }
    [data-dpr="2.75"] .hotIcon p.tag_name {
      line-height: 44px; }
    [data-dpr="3"] .hotIcon p.tag_name {
      line-height: 48px; }
    [data-dpr="4"] .hotIcon p.tag_name {
      line-height: 64px; }
  .hotIcon p.top_3 {
    font-size: 17px;
    line-height: 14px;
    font-family: 'helvetica';
    font-weight: bold; }
    [data-dpr="2"] .hotIcon p.top_3 {
      font-size: 34px; }
    [data-dpr="2.5"] .hotIcon p.top_3 {
      font-size: 42.5px; }
    [data-dpr="2.75"] .hotIcon p.top_3 {
      font-size: 46.75px; }
    [data-dpr="3"] .hotIcon p.top_3 {
      font-size: 51px; }
    [data-dpr="4"] .hotIcon p.top_3 {
      font-size: 68px; }
    [data-dpr="2"] .hotIcon p.top_3 {
      line-height: 28px; }
    [data-dpr="2.5"] .hotIcon p.top_3 {
      line-height: 35px; }
    [data-dpr="2.75"] .hotIcon p.top_3 {
      line-height: 38.5px; }
    [data-dpr="3"] .hotIcon p.top_3 {
      line-height: 42px; }
    [data-dpr="4"] .hotIcon p.top_3 {
      line-height: 56px; }

.goodIcon {
  position: absolute;
  text-align: center;
  color: #FFFFFF;
  height: 1.03125rem;
  width: 0.96875rem;
  font-size: 14px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  font-weight: 700; }
  [data-dpr="2"] .goodIcon {
    font-size: 28px; }
  [data-dpr="2.5"] .goodIcon {
    font-size: 35px; }
  [data-dpr="2.75"] .goodIcon {
    font-size: 38.5px; }
  [data-dpr="3"] .goodIcon {
    font-size: 42px; }
  [data-dpr="4"] .goodIcon {
    font-size: 56px; }
  .goodIcon.type_gold {
    background-image: url(../images/discount@2x.png);
    line-height: 1.03125rem; }
  .goodIcon.type_gold_spc {
    background-image: url(../images/discount@2x.png);
    padding-top: 0.15625rem;
    line-height: 0.35938rem;
    font-size: 13px; }
    [data-dpr="2"] .goodIcon.type_gold_spc {
      font-size: 26px; }
    [data-dpr="2.5"] .goodIcon.type_gold_spc {
      font-size: 32.5px; }
    [data-dpr="2.75"] .goodIcon.type_gold_spc {
      font-size: 35.75px; }
    [data-dpr="3"] .goodIcon.type_gold_spc {
      font-size: 39px; }
    [data-dpr="4"] .goodIcon.type_gold_spc {
      font-size: 52px; }
  .goodIcon.type_purple {
    background-image: url(../images/yearIcon@2x.png);
    padding-top: 0.15625rem;
    line-height: 0.35938rem;
    font-size: 13px; }
    [data-dpr="2"] .goodIcon.type_purple {
      font-size: 26px; }
    [data-dpr="2.5"] .goodIcon.type_purple {
      font-size: 32.5px; }
    [data-dpr="2.75"] .goodIcon.type_purple {
      font-size: 35.75px; }
    [data-dpr="3"] .goodIcon.type_purple {
      font-size: 39px; }
    [data-dpr="4"] .goodIcon.type_purple {
      font-size: 52px; }

.tag {
  font-weight: normal;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  height: 0.3125rem;
  line-height: 0.29688rem;
  padding-left: 0.04688rem;
  padding-right: 0.04688rem;
  margin-right: 0.0625rem;
  border-radius: 2px;
  overflow: hidden; }
  [data-dpr="2"] .tag {
    font-size: 20px; }
  [data-dpr="2.5"] .tag {
    font-size: 25px; }
  [data-dpr="2.75"] .tag {
    font-size: 27.5px; }
  [data-dpr="3"] .tag {
    font-size: 30px; }
  [data-dpr="4"] .tag {
    font-size: 40px; }
  .tag.red {
    background-color: #E31436; }
  .tag.grey {
    background-color: #565656; }

.tag_type_1 {
  color: #E31436;
  font-size: 16px;
  line-height: 16px;
  font-weight: 900; }
  [data-dpr="2"] .tag_type_1 {
    font-size: 32px; }
  [data-dpr="2.5"] .tag_type_1 {
    font-size: 40px; }
  [data-dpr="2.75"] .tag_type_1 {
    font-size: 44px; }
  [data-dpr="3"] .tag_type_1 {
    font-size: 48px; }
  [data-dpr="4"] .tag_type_1 {
    font-size: 64px; }
  [data-dpr="2"] .tag_type_1 {
    line-height: 32px; }
  [data-dpr="2.5"] .tag_type_1 {
    line-height: 40px; }
  [data-dpr="2.75"] .tag_type_1 {
    line-height: 44px; }
  [data-dpr="3"] .tag_type_1 {
    line-height: 48px; }
  [data-dpr="4"] .tag_type_1 {
    line-height: 64px; }

.tag_type_2 {
  color: #2F2F2F;
  font-size: 14px;
  font-weight: 700; }
  [data-dpr="2"] .tag_type_2 {
    font-size: 28px; }
  [data-dpr="2.5"] .tag_type_2 {
    font-size: 35px; }
  [data-dpr="2.75"] .tag_type_2 {
    font-size: 38.5px; }
  [data-dpr="3"] .tag_type_2 {
    font-size: 42px; }
  [data-dpr="4"] .tag_type_2 {
    font-size: 56px; }

.tag_type_3 {
  color: #2f2f2f;
  font-size: 10px; }
  [data-dpr="2"] .tag_type_3 {
    font-size: 20px; }
  [data-dpr="2.5"] .tag_type_3 {
    font-size: 25px; }
  [data-dpr="2.75"] .tag_type_3 {
    font-size: 27.5px; }
  [data-dpr="3"] .tag_type_3 {
    font-size: 30px; }
  [data-dpr="4"] .tag_type_3 {
    font-size: 40px; }
  .tag_type_3 .off_price {
    font-size: 16px;
    font-weight: 700; }
    [data-dpr="2"] .tag_type_3 .off_price {
      font-size: 32px; }
    [data-dpr="2.5"] .tag_type_3 .off_price {
      font-size: 40px; }
    [data-dpr="2.75"] .tag_type_3 .off_price {
      font-size: 44px; }
    [data-dpr="3"] .tag_type_3 .off_price {
      font-size: 48px; }
    [data-dpr="4"] .tag_type_3 .off_price {
      font-size: 64px; }
  .tag_type_3.color_red {
    color: #E31436; }

.operation_button {
  background-color: #E31436;
  text-align: center;
  line-height: 22px;
  border-radius: 8px;
  margin-top: 2px; }
  .operation_button p {
    font-size: 11px;
    font-weight: bold;
    color: #fff; }

.btn {
  display: block;
  text-align: center;
  border-radius: 6px;
  width: 100%;
  color: #fff;
  font-weight: bold;
  height: 0.65625rem;
  line-height: 0.65625rem;
  font-size: 13px; }
  [data-dpr="2"] .btn {
    font-size: 26px; }
  [data-dpr="2.5"] .btn {
    font-size: 32.5px; }
  [data-dpr="2.75"] .btn {
    font-size: 35.75px; }
  [data-dpr="3"] .btn {
    font-size: 39px; }
  [data-dpr="4"] .btn {
    font-size: 52px; }
  .btn.red_btn {
    background-color: #E31436; }

.hotCarsSort {
  width: 100%;
  background-color: #FFFFFF;
  padding-top: 0.21875rem;
  padding-bottom: 0.25rem;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch; }
  .hotCarsSort .hotCarsIn ul {
    white-space: nowrap;
    font-size: 0;
    position: relative; }
    .hotCarsSort .hotCarsIn ul li {
      display: inline-block;
      position: relative;
      width: 4.21875rem;
      padding-left: 0.15625rem;
      padding-right: 0.15625rem;
      border-right: 1px #D2D2D2 solid; }
      .hotCarsSort .hotCarsIn ul li:last-child {
        border: none; }

.goodCars {
  padding-top: 0.46875rem;
  width: 100%;
  background-color: #C90C22;
  border: #A0081A  solid;
  border-width: 0.03125rem; }
  .goodCars .goodCarsSort {
    overflow: hidden; }

.downPay {
  padding-top: 0.78125rem;
  width: 100%;
  background-color: #C90C22;
  border: #A0081A  solid;
  border-width: 0.03125rem; }

.usedCar {
  padding-top: 0.78125rem;
  width: 100%;
  background-color: #C90C22;
  border: #A0081A  solid;
  border-width: 0.03125rem; }

.tenCars {
  padding-top: 0.78125rem;
  width: 100%;
  background-color: #C90C22;
  border: #A0081A  solid;
  border-width: 0.03125rem; }

.fifteenCars {
  padding-top: 0.78125rem;
  width: 100%;
  background-color: #C90C22;
  border: #A0081A  solid;
  border-width: 0.03125rem; }

.twentyCars {
  padding-top: 0.78125rem;
  width: 100%;
  background-color: #C90C22;
  border: #A0081A  solid;
  border-width: 0.03125rem; }

.goodCarsTitle {
  text-align: center;
  position: relative;
  margin-bottom: 12px;
  font-size: 17px; }
  [data-dpr="2"] .goodCarsTitle {
    margin-bottom: 24px; }
  [data-dpr="2.5"] .goodCarsTitle {
    margin-bottom: 30px; }
  [data-dpr="2.75"] .goodCarsTitle {
    margin-bottom: 33px; }
  [data-dpr="3"] .goodCarsTitle {
    margin-bottom: 36px; }
  [data-dpr="4"] .goodCarsTitle {
    margin-bottom: 48px; }
  [data-dpr="2"] .goodCarsTitle {
    font-size: 34px; }
  [data-dpr="2.5"] .goodCarsTitle {
    font-size: 42.5px; }
  [data-dpr="2.75"] .goodCarsTitle {
    font-size: 46.75px; }
  [data-dpr="3"] .goodCarsTitle {
    font-size: 51px; }
  [data-dpr="4"] .goodCarsTitle {
    font-size: 68px; }
  .goodCarsTitle p {
    background-color: #C90C22;
    display: inline-block;
    height: 0.54688rem;
    line-height: 0.54688rem;
    color: #FFF;
    font-weight: bold;
    padding: 3px 12px;
    border: #E48691 solid;
    border-width: 0.01563rem;
    position: relative;
    z-index: 2; }
  .goodCarsTitle:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6.71875rem;
    margin-left: -3.35938rem;
    border-bottom: 1px solid #E48691; }
  .goodCarsTitle .blankTitle {
    background-color: #C90C22;
    display: inline-block;
    position: relative;
    z-index: 2;
    padding-left: 0.59375rem;
    padding-right: 0.59375rem;
    text-align: center; }

.goodCarsSort {
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  overflow: hidden; }
  .goodCarsSort ul li {
    float: left;
    position: relative;
    padding: 0.125rem;
    width: 4.34375rem;
    background-color: #FFFFFF;
    margin-bottom: 0.1875rem; }
    .goodCarsSort ul li:nth-child(2n) {
      margin-left: 0.1875rem; }

.moreCars {
  line-height: 0.78125rem;
  text-align: center;
  font-size: 9px;
  font-weight: 700;
  color: #A0081A; }
  [data-dpr="2"] .moreCars {
    font-size: 18px; }
  [data-dpr="2.5"] .moreCars {
    font-size: 22.5px; }
  [data-dpr="2.75"] .moreCars {
    font-size: 24.75px; }
  [data-dpr="3"] .moreCars {
    font-size: 27px; }
  [data-dpr="4"] .moreCars {
    font-size: 36px; }

.tenCarsTitle {
  text-align: center;
  position: relative;
  margin-bottom: 12px;
  font-size: 15px;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem; }
  [data-dpr="2"] .tenCarsTitle {
    margin-bottom: 24px; }
  [data-dpr="2.5"] .tenCarsTitle {
    margin-bottom: 30px; }
  [data-dpr="2.75"] .tenCarsTitle {
    margin-bottom: 33px; }
  [data-dpr="3"] .tenCarsTitle {
    margin-bottom: 36px; }
  [data-dpr="4"] .tenCarsTitle {
    margin-bottom: 48px; }
  [data-dpr="2"] .tenCarsTitle {
    font-size: 30px; }
  [data-dpr="2.5"] .tenCarsTitle {
    font-size: 37.5px; }
  [data-dpr="2.75"] .tenCarsTitle {
    font-size: 41.25px; }
  [data-dpr="3"] .tenCarsTitle {
    font-size: 45px; }
  [data-dpr="4"] .tenCarsTitle {
    font-size: 60px; }
  .tenCarsTitle p {
    color: #FFFFFF;
    border: 1px #fff solid;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem; }

.tenCarsSort {
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  overflow: hidden; }
  .tenCarsSort ul li {
    float: left;
    position: relative;
    padding: 0.15625rem;
    width: 4.375rem;
    background-color: #FFFFFF; }
    .tenCarsSort ul li:nth-child(2n) {
      border-left: 1px #C9C9C9 solid;
      margin-left: -1px; }
  .tenCarsSort ul .bt_border {
    border-bottom: 1px #C9C9C9 solid; }

.botBanner {
  padding-top: 20px;
  width: 100%;
  background-color: #C90C22;
  overflow: hidden; }
  [data-dpr="2"] .botBanner {
    padding-top: 40px; }
  [data-dpr="2.5"] .botBanner {
    padding-top: 50px; }
  [data-dpr="2.75"] .botBanner {
    padding-top: 55px; }
  [data-dpr="3"] .botBanner {
    padding-top: 60px; }
  [data-dpr="4"] .botBanner {
    padding-top: 80px; }

/*# sourceMappingURL=index.css.map */
